.sidebar {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-right: 1px solid lightgray;

  $breakpoint-large-screen: 1700px;
  $breakpoint-medium-screen: 1350px;
  $breakpoint-extra-small-screen: 1100px;
  $breakpoint-small-screen: 950px;
  $breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-large-screen) {
    width: 25%;
  }
  @media (max-width: $breakpoint-medium-screen) {
    width: 30%;
  }
  @media (max-width: $breakpoint-small-screen) {
    width: 35%;
  }
  @media (max-width: $breakpoint-extra-small-screen) {
    width: 40%;
  }
  @media (max-width: $breakpoint-tablet) {
    width: 40%;
  }

  .sidebar__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 120px;

    .sidebar__headerTop {
      display: flex;
      justify-content: space-between;

      .sidebar__headerAvatar {
        cursor: pointer;
        margin: 10px;
      }
    }

    .sidebar__headerBottom {
      width: 100%;

      .sidebar__headerInputSearch {
        display: flex;
        align-items: center;
        justify-content: left;
        flex: 1;
        background-color: #e1e1e1e1;
        height: 2rem;
        border-radius: 30px;

        input {
          border: none;
          background: transparent;
          outline-width: 0;
        }
      }
    }
  }

  .sidebar__chats {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */

    &::-webkit-scrollbar {
      display: none;
    }
  }
}